@font-face {
    font-family: comicaBd;
    src: url(./font/comicaBD/Comica\ BD.ttf);
}

@font-face {
    font-family: FiraCode-Bold;
    src: url(./font/FiraCode/FiraCode-Bold.woff2);
}

@font-face {
    font-family: FiraCode-Light;
    src: url(./font/FiraCode/FiraCode-Light.woff2);
}

@font-face {
    font-family: FiraCode-Medium;
    src: url(./font/FiraCode/FiraCode-Medium.woff2);
}

@font-face {
    font-family: Firacode-Regular;
    src: url(./font/FiraCode/FiraCode-Regular.woff2);
}

#app-mount .typeWindows__5fa63 {
    background-color: var(--secondary3-colour); 
    border-bottom: 2px solid var(--primary3-colour); 
    height: 20px;
    margin: 0px;
}
#app-mount .typeWindows__5fa63:after {
    content: "Xenon Colt Discord";
    color: rgb(255,255,255,0.5);
    font-weight: 1000;
    font-family: 'comicaBd';

    position: absolute;
    top: 2px;
    left: 46%;
}

#app-mount .wordmark__0d178 {
    display: none;
}
/* #app-mount .winButton-3UMjdg {top: 1px;} */